<div class="row">
    <h1>Demo</h1>
    <input ng-init="url='http://www.youtube.com/watch?v=A02s8omM_hI'" ng-model="url">
    <button ng-click="change(url);">Change</button>
    <button ng-click="capture()">Video Capture</button>
    <button ng-click="imageCapture()">Image Capture</button>
    <button ng-click="captureWithBreakdown()">Breakdown</button>
    <button ng-click="startSnap()">Start Snap</button>
    <button ng-click="endSnap()">End Snap</button>
    <video id="video" ng-src='{{ playback_url }}' preload="metadata" width="320" height="240" controls>
    </video>
    <div>
        <div ng-switch ng-repeat="snapshot in snapshots">
            <div ng-if="snapshot.playback">
                <div snapshot data="snapshot"></div>
            </div>
            <div ng-if="!snapshot.playback">
                <div canvas data="snapshot"></div>
            </div>
            <div ng-if="snapshot.breakdown">
                <div breakdown data="snapshot"></div>
            </div>
        </div>
    </div>
</div>

