<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@MosaycApp">
    <meta name="twitter:title" content="Mosayc">
    <meta name="twitter:description"
          content="A free, simple photo sharing app to create collaborative photo albums. Make private albums to share photos with just those close to you or connect with the world through open photo albums.">
    <meta name="twitter:creator" content="@mtford90">
    <meta name="twitter:image:src" content="https://s3-eu-west-1.amazonaws.com/mosayc-ire/mosayc_icon.png">
    <meta property="og:title" content="ngBoilerplate"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://bit.ly/ngBoilerplate"/>
    <meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/mosayc-ire/mosayc_icon.png"/>
    <meta property="og:description"
          content="A free, simple photo sharing app to create collaborative photo albums. Make private albums to share photos with just those close to you or connect with the world through open photo albums.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
</head>
<body>
<div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
                    ng-click="menuCollapsed = ! menuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                Mosayc
            </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a href ui-sref="home">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="about">
                        <i class="fa fa-info-circle"></i>
                        What is it?
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="trending">
                        <i class="fa fa-info-circle"></i>
                        Trending Albums
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" ui-view="main"></div>

<footer class="footer">
    <div class="container">
        <div class="footer-inner">

        </div>
    </div>
</footer>
</body>
</html>
