<div class="row">
    <video id="hidden-video" ng-src='{{ playback_url2 }}' preload="metadata" controls>
    </video>
    <a class="btn btn-large btn-success pull-right">
        Publish
    </a>
    <input id="INPUT_1" placeholder="URL*" type="search" ng-model="url" ng-keypress="keyPress($event)"/>

    <p id="P_1">
        * At the moment only YouTube URLs will work
    </p>


    <div id="player" ng-if="playback_url" class="text-center">

        <div class="btn-group">
            <button class="action-button btn" ng-click="imageCapture()" tooltip="Take a screenshot"><span
                    class="glyphicon glyphicon-camera"></span></button>
            <button class="action-button btn" ng-click="snap()" tooltip="Record a snapshot">
                <span class="glyphicon glyphicon-record" ng-if="!startSnapTime"></span>
                <span class="glyphicon glyphicon-stop" ng-if="startSnapTime"></span>
            </button>
        </div>
        <div>
            <video id="video" ng-src='{{ playback_url }}' preload="metadata" controls>
            </video>

        </div>
    </div>
    <div ng-switch ng-repeat="snapshot in snapshots" class="container">
        <div ng-if="snapshot.playback">
            <div snapshot data="snapshot" class="row"></div>
        </div>
    </div>

